@import './base.css';

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  font-weight: normal;
  
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 148, 99);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color:rgb(0, 61, 41);
  }
}

@media (min-width: 0px) {
  body {
    /* display: flex; */
    place-items: center;
    background-color: #B6eB68; 
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 0 2rem;  */
  }
}

@font-face {
  font-family: 'BBPolice';
  src: url('BB.ttf') format('truetype'); 
}

@font-face {
  font-family: 'BB2Police';
  src: url('BB2.ttf') format('truetype'); 
}